.employe-list{
    box-sizing: border-box;
    width: 100%;
    box-shadow: rgb(0,0,0,0.05) -10px -10px 13px, rgba(0,0,0,0.08) 10px 10px 10px;;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    height: 95vh;
    border-radius: 6px;
    background: white;
}
.all-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 50px;
}

.search{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.search button{
    width: 90px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
.search button:active{
    background-color: rgb(139, 139, 134);
}
.search-container{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-container input{
    border-radius: 22px;
    height: 40px;
}
.search-container img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
hr{
    margin-top: 20px;
}
div.y-container{
    height: 90vh;
    overflow-y: auto;
    margin-top: 30px;
    height: 70%;
}
@media all and (max-width:1080px){
    .employe-list{
        max-width: 600px;
    }
}
@media all and (max-width:680px){
    .employe-list{
        max-width: 500px;
    }
    .all-items{
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width:570px){
    .employe-list{
        max-width: 400px;
    }
    .all-items{
        grid-template-columns: 1fr 1fr;
    }
    .search{
        flex-direction: column;
    }
}
@media all and (max-width:480px){
    .employe-list{
        max-width: 300px;
        padding: 0;
        height: 100%;
    }
    .all-items{
        grid-template-columns: 1fr 1fr;
        width: 100%;
        display: flex;
        padding: 10px;
    }
    div.y-container{
        height: 90vh;
        margin-top: 30px;
        overflow-x: auto;
        height: 70%;
    }
    .search{
        padding: 10px;
    }
}