.home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.home-left{
    flex: 20%;
}
.none-selected{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84.9vh;
}
.none-selected p{
    font-size: 40px;
    color: rgb(139, 135, 131,0.4);
    padding: 30px;
    border: 4px solid rgb(139, 135, 131,0.4);
}
.flip{
    display: none;
}
.home-right{
    flex: 80%;
}
@media screen and (max-width:800px){
    .home{
        flex-direction: column;
    }
}